@model MvcDynamicForms.Core.Form

@{
    ViewBag.Title = "Responses";
}

<h2>MVC Dynamic Form Responses</h2>

<hr />

<table class="table table-striped table-hover">
    <tr>
        <th>
            Field Title
        </th>
        <th>
            Field Response
        </th>
    </tr>
    @{
        /* I'm going to simply echo the responses
         * back to the user, but you could do anything
         * you wanted to with these responses
         * (like storing them in a database).
         *
         * passing true to GetResponses()
         * causes it to only return fields
         * that were completed by the user.
         * false returns everything.
         * */

        foreach (var response in Model.GetResponses(true))
        {
            <tr>
                <td>
                    @response.Title
                </td>
                <td>
                    @response.Value
                </td>
            </tr>
        }
    }
</table>