@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>MVC Dynamic Forms</h1>
    <p class="lead">
        This web application demonstrates how you can use MVC Dynamic Forms. To learn more,
        study these files in the MvcDynamicForms.Demo project:
    </p>
    <p><a href="https://github.com/lettucebo/Creatidea.Library.Web.DynamicForms" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>/Models/FormProvider.cs</h2>
        <p>
            Shows how to construct the Form and Field objects.
        </p>
    </div>
    <div class="col-md-6">
        <h2>/Controllers/HomeController.cs</h2>
        <p>
            Shows how to use the Form and Field objects in your web applicaiton.
        </p>
    </div>
    <div class="col-md-6">
        <h2>/Views/Home/Demo.cshtml</h2>
        <p>
            Shows how to render the form in your views and demonstrates some basic client side funcationality.
        </p>
    </div>
    <div class="col-md-6">
        <h2>/Content/DynamicForm.css</h2>
        <p>
            Explains how to style the dynamically generated form.
        </p>
    </div>
    <div class="col-md-6">
        <h2>/Views/Home/Responses.cshtml</h2>
        <p>
            Shows how to make use of the user's responses to dynamically generated form fields.
        </p>
    </div>
</div>